@model PlanningSystem.Course

@{
    ViewBag.Title = "Disable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Disable</h2>
@using (Html.BeginForm("DisableCourse", "Course"))
{
    @Html.Label("Gewenste onderwijseenheid is verwijderd uit uw lijst!")

    @Html.ActionLink("Terug", "Overview", "Course", new { @class = "btn btn-success" })
}