
@{
    ViewBag.Title = "Formulier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Formulier</h2>

<form action="Respons" method="post">
    Dag:
    <input type="date" name="date" required><br>
    <input type="checkbox" name="heleDag" id="heleDag" value="heleDag" unchecked onchange="myFunction()"> Hele dag<br>
    <script>
        function myFunction() {
            var checkBox = document.getElementById("heleDag");
            if (checkBox.checked == true) {
                document.getElementById("startTijdUur").hidden = true;
                document.getElementById("startTijdUur").value = "9";
                document.getElementById("startTijdMinuten").hidden = true;
                document.getElementById("startTijdMinuten").value = "00";
                document.getElementById("eindTijdUur").hidden = true;
                document.getElementById("eindTijdUur").value = "18";
                document.getElementById("eindTijdMinuten").hidden = true;
                document.getElementById("eindTijdMinuten").value = "00";
                document.getElementById("startTijdLabel").hidden = true;
                document.getElementById("eindTijdLabel").hidden = true;
            }
            else
            {
                document.getElementById("startTijdUur").hidden = false;
                document.getElementById("startTijdMinuten").hidden = false;
                document.getElementById("eindTijdUur").hidden = false;
                document.getElementById("eindTijdMinuten").hidden = false;
                document.getElementById("startTijdLabel").hidden = false;
                document.getElementById("eindTijdLabel").hidden = false;
            }
        }
    </script>

    <label id="startTijdLabel">Starttijd:</label>
    <select name="startTijdUur" id="startTijdUur">
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
    </select>
    <select name="startTijdMinuten" id="startTijdMinuten">
        <option value="00">00</option>
        <option value="30">30</option>
    </select>
    <br>
    <label id="eindTijdLabel">Eindtijd:</label>
    <select name="eindTijdUur" id="eindTijdUur">
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
    </select>
    <select name="eindTijdMinuten" id="eindTijdMinuten">
        <option value="00">00</option>
        <option value="30">30</option>
    </select>
    <br>
    <label>Reden:</label>
    <select name="reden">
        <option value="verlof">Verlof</option>
        <option value="reden 2">Reden 2</option>
        <option value="reden 3">Reden 3</option>
    </select><br>
    <input type="submit" value="Verzenden">
</form>
