
@{
    ViewBag.Title = "Formulier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Formulier</h2>

<form action="Respons" method="post">
    Dag:
    <input type="date" name="date" required><br>
    <input type="checkbox" name="wholeDay" id="wholeDay" value="wholeDay" unchecked onchange="myFunction()">Hele dag<br>
    <script>
        function myFunction() {
            var checkBox = document.getElementById("wholeDay");
            if (checkBox.checked == true) {
                document.getElementById("startTimeHour").hidden = true;
                document.getElementById("startTimeHour").value = "9";
                document.getElementById("startTimeMinutes").hidden = true;
                document.getElementById("startTimeMinutes").value = "00";
                document.getElementById("endTimeHour").hidden = true;
                document.getElementById("endTimeHour").value = "18";
                document.getElementById("endTimeMinutes").hidden = true;
                document.getElementById("endTimeMinutes").value = "00";
                document.getElementById("startTimeLabel").hidden = true;
                document.getElementById("endTimeLabel").hidden = true;
            }
            else
            {
                document.getElementById("startTimeHour").hidden = false;
                document.getElementById("startTimeMinutes").hidden = false;
                document.getElementById("endTimeHour").hidden = false;
                document.getElementById("endTimeMinutes").hidden = false;
                document.getElementById("startTimeLabel").hidden = false;
                document.getElementById("endTimeLabel").hidden = false;
            }
        }
    </script>

    <label id="startTimeLabel">Starttijd:</label>
    <select name="startTimeHour" id="startTimeHour">
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
    </select>
    <select name="startTimeMinutes" id="startTimeMinutes">
        <option value="00">00</option>
        <option value="30">30</option>
    </select>
    <br>
    <label id="endTimeLabel">Eindtijd:</label>
    <select name="endTimeHour" id="endTimeHour">
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
    </select>
    <select name="endTimeMinutes" id="endTimeMinutes">
        <option value="00">00</option>
        <option value="30">30</option>
    </select>
    <br>
    <label>Reden:</label>
    <select name="cause">
        <option value="Verlof">Verlof</option>
        <option value="Dokter">Dokter</option>
        <option value="ATV">ATV</option>
        <option value="Overig">Overig</option>
    </select><br>
    <input type="submit" value="Verzenden">
</form>
