@model List<List<PlanningSystem.Models.Unavailability>>


@{
    ViewBag.Title = "Inzien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inzien</h2>

@foreach (var weekday in Model)
{
    if (!weekday.Any())
    {
        <select name="selectie" size="17" disabled>
            @for (int i = 0; i < 17; i++)
            {
                <option value="">-</option>
            }

        </select>
    }
    else
    {
        int currentHour = 8;
        int currentMinute = 30;

        <select name="selectie" size="17">
            @foreach (var u in weekday)
            {
                bool notDone = true;
                bool fillRest = false;
                while (notDone)
                {
                    if (currentMinute == 00)
                    {
                        currentMinute = 30;
                    }
                    else
                    {
                        currentMinute = 00;
                        currentHour++;
                    if (currentHour == u.UnavailabilityStartTime.Hour && currentMinute == u.UnavailabilityStartTime.Minute)
                    {
                        <option value=@u.UnavailabilityID>@u.UnavailabilityCause</option>
                        fillRest = true;
                    }
                    else if (currentHour == u.UnavailabilityEndTime.Hour && currentMinute == u.UnavailabilityEndTime.Minute)
                    {
                        <option value=@u.UnavailabilityID>@u.UnavailabilityCause</option>
                        fillRest = false;
                        notDone = false;
                    }
                    else if (fillRest)
                    {
                        <option value=@u.UnavailabilityID>@u.UnavailabilityCause</option>
                    }
                    else
                    {
                        <option value="">-</option>
                    }
                    }
                }


            }
            @while (currentHour != 18 || currentMinute != 00)
            {
                <option value="">-</option>
                if (currentMinute == 00)
                {
                    currentMinute = 30;
                }
                else
                {
                    currentMinute = 00;
                    currentHour++;
                }
            }
        </select>
    }
}
<br>

<form action="Inzien" method="post">
    <select name="week" onchange="this.form.submit()">
        <option value="1">Week 1</option>
        <option value="2">Week 2</option>
        <option value="3">Week 3</option>
        <option value="4">Week 4</option>
        <option value="5">Week 5</option>
        <option value="6">Week 6</option>
        <option value="7">Week 7</option>
        <option value="8">Week 8</option>
        <option value="9">Week 9</option>
        <option value="10">Week 10</option>
    </select>
</form>
