@model PlanningSystem.Models.Unavailability

@Model.UnavailabilityStartTime
<br>
@Model.UnavailabilityEndTime
<br>
@Model.UnavailabilityCause
<br />
<form action="Formulier">
    <button type="submit">Nieuwe onbeschikbaarheid opgeven</button><br>
</form>
