@model PlanningSystem.Models.Account
@{
    /**/

    ViewBag.Title = "resettedpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resettedpasswordje</h2>



    <p>Uw nieuw wachtwoord is:</p>
    <div class="form-group">
        <label>@ViewData["password"]</label>
        
        
    </div>

