@model PlanningSystem.Models.Account
@{
                /**/

                /**/

                ViewBag.Title = "resettedpassword";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resettedpassword</h2>



@using (Html.BeginForm("login", "Login"))
{
    <p>Het resultaat:</p>
    <div class="form-group">
        <label>@ViewData["password"]</label>
    </div>
    <button type="submit" class="btn btn-primary">OK</button>
    <a href="https://www.youtube.com/watch?v=8Wg1MYjOguI" class="btn btn-info" role="button", target="_blank">Celebrate with some great music</a>

}